
<div id="contact" class="py-5 px-1">
    <div class='container'>
        <div class='pl-3'>
            <div class='row justify-content-center no-gutters'>
                <div class="contact--box col-12 col-sm-10 col-xl-8">
                    <div class="row position-relative w-100 no-gutters">
                        <form class='col-md-6 col-lg-5 m-4'>
                            <h3 class="contact--heading"> Want more info? </h3>
                            <div class="contact--description mb-3">
                                Sign up so we can keep in touch.
                            </div>
                            <label> Name <input /></label>
                            <label> Email Address <input /></label>
                            <label> Phone Number <input /></label>
                            <button type='submit' class='btn-round btn-green mt-3'>
                                Sign up now
                            </button>
                        </form>
                        <img id="subscribe-img" class='d-none d-md-block img-responsive' src="https://github.com/bearshuford/FrontEndTest/blob/master/Images/subscribe-img.png?raw=true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>