<footer class='p-4'>
    <div class='container'>
        <div class='row px-4 pt-2'>
            <div class='d-none d-md-block col-md-4 offset-md-1'>
                <h2> AllClouds </h2>
                <div class='footer--description'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget magna ut mauris efficitur rutrum et id tellus. Duis lectus purus, faucibus at libero a, vulputate pellentesque diam.
                </div>
            </div>
            <div class='col-md-4 offset-md-2'>
                <div id='footer--nav'>
                    <a href='#'> home </a>
                    <a href='#company'> company </a>
                    <a href='#products'> products </a>
                    <a href='#contact'> contact </a>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright" class="pt-2">Copyright &copy; @DateTime.Now.Year AllClouds</div>
    
</footer>
