
<header>
    <div id="header-container" class="container">
        <img src="~/Content/Images/logo.svg" id="logo" />

        <div id="navigation" class="d-none d-md-block">
            <a href="#"> home </a>
            <a href="#company"> company </a>
            <a href="#products"> products </a>
            <a href="#contact"> contact </a>
        </div>
        <button class="btn d-md-none" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false" aria-controls="collapseExample">
            [collapse menu]
        </button>
    </div>

    <div id="mobile-nav" class="d-md-none collapse">
        <a href="#"> home </a>
        <a href="#company"> company </a>
        <a href="#products"> products </a>
        <a href="#contact"> contact </a>
    </div>

</header>