<div id="products" class="pb-5">
    <div class="container">
        <h2 class="products--header pt-5 pb-3">
            Choose the correct product for you!
        </h2>
        <div class="product--list">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="product product--green">
                        <div class="product--price"> 0 </div>
                        <div class="product--name"> Freebie Plan </div>
                        <hr />
                        <div class="product--description">
                            Vestibulum in tincidunt lacus. Sed tincidunt, leo ut dapibus consequat.
                        </div>
                        <div class="product--description">
                            Vivamus imperdiet vitae nunc ultricies placerat. Ut urna.
                        </div>
                        <div class="product--action">
                            get trial version
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product product--orange">
                        <div class="product--price"> 49 </div>
                        <div class="product--name"> Premium Plan </div>
                        <hr />
                        <div class="product--description">
                            Vivamus imperdiet vitae nunc ultricies placerat. Ut urna.
                        </div>
                        <div class="product--action">
                            become a member
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="product product--red">
                        <div class="product--price"> 29 </div>
                        <div class="product--name"> Business Plan </div>
                        <hr />


                        <div class="product--description">
                            Vivamus imperdiet vitae nunc ultricies placerat. Ut urna.
                        </div>
                        <div class="product--action">
                            buy it now
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
