
<div id="stats">
    <div class="container">
        <div class="py-3">
            <div class="row justify-content-center py-sm-2 py-xl-3">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="stat">
                        <div class="stat--number"> 6270 </div>
                        <div class="stat--label"> Customers helped </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="stat">
                        <div class="stat--number"> 2 M + </div>
                        <div class="stat--label"> Downloads </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="stat">
                        <div class="stat--number"> 3 M + </div>
                        <div class="stat--label"> Active users </div>
                    </div>
                </div>
                <div class="col-sm-8  offset-md-0 col-md-3">
                    <div class="stat--meta">
                        <h4 class="stats--heading"> AllClouds </h4>
                        <div class="stats--description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a scelerisque neque. Morbi a suscipit elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>